@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');


@theme {
  --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif;
  --font-poppins: Poppins, ui-sans-serif, system-ui, sans-serif;
}
